@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}
.page{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    background: #db3636;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container{    
    
    height: 80%;
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 1px 1px 17px #0289b3;
    background: #000004;
}

.container__title{
    margin-top: 15px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}
 .container__content_block{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
} 
.container__block_item{
    margin: 7px;
    color: #EAEAEA;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
}
.container__block_item:nth-child(1){
    background: #d2006c;
}
.container__block_item:nth-child(2){
    background: #0043d2;
}
.container__block_item:nth-child(3){
    background: #f7990d;
}
.container__block_item:nth-child(4){
    background: #279f02;
}
.container__block_item:hover{
    transition: .2s;
    box-shadow:0px 2px 4px rgb(152, 152, 152);
}
.icon{
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
.icon img, .header img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.container__block{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    
}

.btn-start{
    margin-top: 30px;
    background: #f52f2f;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 999px) {
   
    .container{
        box-shadow: 1px 1px 17px #035d1b;
        width: 85%;
        margin: 20px;
        padding: 0;
        height: 80%;
    }
}

.white{
    background: rgb(12, 2, 81);
}
